n8n_blueprint/final_workflow.json
{
  "name": "Richards & Law Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "police-report-upload",
        "options": {}
      },
      "id": "18f59b6c-8431-4b10-a249-166e5d8d0851",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"claude-3-5-sonnet-20240620\", \"max_tokens\": 2000, \"messages\": [ { \"role\": \"user\", \"content\": [ { \"type\": \"document\", \"source\": { \"type\": \"base64\", \"media_type\": \"application/pdf\", \"data\": \"{{ $binary.data.data }}\" } }, { \"type\": \"text\", \"text\": \"Extract case details. If client is pedestrian, vehicle fields must be null. Calculate SOL as 8 years from accident date.\" } ] } ] }",
        "options": {}
      },
      "id": "e43b67e3-0d5b-4357-96a8-6f68449c2409",
      "name": "Claude AI Extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        220,
        240
      ]
    },
    {
      "parameters": {
        "formTitle": "Richards & Law: Intake Verification",
        "formDescription": "Verify AI data before pushing to Clio.",
        "formFields": {
          "fields": [
            {
              "fieldLabel": "Is Data Correct?",
              "fieldType": "boolean",
              "fieldRequired": true
            },
            {
              "fieldLabel": "Accident Date",
              "defaultValue": "={{ JSON.parse($node[\"Claude AI Extraction\"].json.content[0].text).accident_date }}"
            },
            {
              "fieldLabel": "Client Name",
              "defaultValue": "={{ JSON.parse($node[\"Claude AI Extraction\"].json.content[0].text).client_first_name }} {{ JSON.parse($node[\"Claude AI Extraction\"].json.content[0].text).client_last_name }}"
            }
          ]
        }
      },
      "id": "f5c24e03-3e1a-4c92-9118-2e0e0a51469e",
      "name": "Human Verification Gate",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        440,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const month = new Date().getMonth() + 1;\nreturn {\n  booking_link: (month >= 3 && month <= 8) ? 'https://calendly.com/swans-santiago-p/summer-spring' : 'https://calendly.com/swans-santiago-p/winter-autumn',\n  clio_matter_id: '1769228281'\n};"
      },
      "id": "7585a19b-73b3-463d-82c8-842245b0a331",
      "name": "Process & Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        240
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://app.clio.com/api/v4/matters/{{ $node[\"Process & Logic\"].json.clio_matter_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CLIO_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"data\": { \"custom_field_values\": [ { \"custom_field\": { \"id\": 17829796 }, \"value\": \"{{ $node['Human Verification Gate'].json['Accident Date'] }}\" } ] } }",
        "options": {}
      },
      "id": "c6a2e9b0-4f51-404c-8822-19e34289895a",
      "name": "Update Clio Matter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        240
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Richards & Law: Your Retainer Agreement",
        "body": "=Dear {{ $node[\"Human Verification Gate\"].json[\"Client Name\"] }},\n\nWe have processed your report. Please book your consultation here: {{ $node[\"Process & Logic\"].json.booking_link }}\n\nWarm regards,\nAndrew Richards\nRichards & Law",
        "appendAttachments": true
      },
      "id": "a988775e-2b62-4f9e-9b43-22874400e234",
      "name": "Send Client Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1100,
        240
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Claude AI Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI Extraction": {
      "main": [
        [
          {
            "node": "Human Verification Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human Verification Gate": {
      "main": [
        [
          {
            "node": "Process & Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Logic": {
      "main": [
        [
          {
            "node": "Update Clio Matter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Clio Matter": {
      "main": [
        [
          {
            "node": "Send Client Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "f7890b11-7390-4881-8889-4678b87e2211"
}