n8n_blueprint/final_robust_workflow.json
{
  "name": "Robust Richards & Law Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "police-report-upload",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"claude-3-5-sonnet-20241022\", \"max_tokens\": 4000, \"system\": \"You are an expert Legal Case Extraction Assistant. Extract structured data from the provided New York State police report (MV-104A) into a JSON object.\\n\\nINSTRUCTIONS:\\n1. Identify the CLIENT (injured party) and OPPOSING PARTY.\\n2. Accident date MUST be YYYY-MM-DD.\\n3. SOL date is EXACTLY 8 years after accident date.\\n4. If client is pedestrian, vehicle_info must be null.\\n\\nSCHEMA:\\n{\\n  \\\"client_first_name\\\": \\\"string\\\",\\n  \\\"client_last_name\\\": \\\"string\\\",\\n  \\\"client_gender\\\": \\\"male|female|others|unknown\\\",\\n  \\\"accident_date\\\": \\\"YYYY-MM-DD\\\",\\n  \\\"accident_time\\\": \\\"string or null\\\",\\n  \\\"accident_location\\\": \\\"string\\\",\\n  \\\"accident_description\\\": \\\"string\\\",\\n  \\\"opposing_party_name\\\": \\\"string\\\",\\n  \\\"injuries_sustained\\\": \\\"string\\\",\\n  \\\"number_injured\\\": \\\"integer\\\",\\n  \\\"vehicle_info\\\": \\\"string or null\\\",\\n  \\\"vehicle_registration_plate\\\": \\\"string or null\\\",\\n  \\\"accident_type\\\": \\\"string\\\",\\n  \\\"statute_of_limitations_date\\\": \\\"YYYY-MM-DD\\\"\\n}\\n\\nReturn ONLY the raw JSON object. Do not use markdown blocks.\", \"messages\": [ { \"role\": \"user\", \"content\": [ { \"type\": \"document\", \"source\": { \"type\": \"base64\", \"media_type\": \"application/pdf\", \"data\": \"{{ $binary.data.data }}\" } }, { \"type\": \"text\", \"text\": \"Extract the case details from this police report.\" } ] } ] }",
        "options": {}
      },
      "id": "anthropic-extraction",
      "name": "Extract PDF (Anthropic API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [250, 0]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const rawResponse = $input.item.json.content[0].text;\n  const extractedData = JSON.parse(rawResponse);\n  const webhookData = $node[\"Webhook\"].json.body;\n  const matterId = webhookData.matterId || \"1769228281\";\n  const clientEmail = webhookData.clientEmail || \"client@example.com\";\n  const month = new Date().getMonth() + 1;\n  const bookingType = (month >= 3 && month <= 8) ? \"Office\" : \"Virtual\";\n  const bookingLink = (bookingType === \"Office\") ? \"https://calendly.com/swans-santiago-p/summer-spring\" : \"https://calendly.com/swans-santiago-p/winter-autumn\";\n  return {\n    json: {\n      ...extractedData,\n      matterId,\n      clientEmail,\n      bookingType,\n      bookingLink\n    }\n  };\n} catch (e) {\n  throw new Error('Failed to parse AI response: ' + e.message);\n}"
      },
      "id": "data-processing",
      "name": "Process Data & Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://app.clio.com/api/v4/matters/{{ $json.matterId }}.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"data\": { \"custom_field_values\": [ {\"custom_field_id\": 17829796, \"value\": \"{{ $json.accident_date }}\"}, {\"custom_field_id\": 17829811, \"value\": \"{{ $json.accident_location }}\"}, {\"custom_field_id\": 17829826, \"value\": \"{{ $json.accident_description }}\"}, {\"custom_field_id\": 17829841, \"value\": \"{{ $json.opposing_party_name }}\"}, {\"custom_field_id\": 17829856, \"value\": \"{{ $json.injuries_sustained }}\"}, {\"custom_field_id\": 17829871, \"value\": \"{{ $json.accident_type }}\"}, {\"custom_field_id\": 17829886, \"value\": \"{{ $json.statute_of_limitations_date }}\"}, {\"custom_field_id\": 17829901, \"value\": \"{{ $json.vehicle_registration_plate }}\"}, {\"custom_field_id\": 17829916, \"value\": \"{{ $json.number_injured }}\"} ] } }",
        "options": {}
      },
      "id": "update-clio",
      "name": "Update Clio Matter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.clio.com/api/v4/calendar_entries.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"data\": { \"matter\": {\"id\": {{ $json.matterId }} }, \"name\": \"SOL Deadline - 8 Year Statute of Limitations\", \"date\": \"{{ $json.statute_of_limitations_date }}\", \"all_day\": true, \"description\": \"Statute of Limitations deadline for case. File before this date.\" } }",
        "options": {}
      },
      "id": "clio-calendar",
      "name": "Create SOL Calendar Entry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "resource": "message",
        "sendTo": "={{ $json.clientEmail }}",
        "subject": "Richards & Law: Your Case Setup is Complete",
        "message": "=<p>Dear {{ $json.client_first_name }} {{ $json.client_last_name }},</p>\\n\\n<p>Thank you for submitting your police report. We have reviewed your case details regarding the incident on {{ $json.accident_date }} and are ready to move forward.</p>\\n\\n<p><strong>Case Summary:</strong></p>\\n<ul>\\n<li><strong>Accident Type:</strong> {{ $json.accident_type }}</li>\\n<li><strong>Location:</strong> {{ $json.accident_location }}</li>\\n<li><strong>Injuries Sustained:</strong> {{ $json.injuries_sustained }}</li>\\n</ul>\\n\\n<p><strong>Next Step: Schedule Your Consultation</strong></p>\\n<p>Based on the current season, we are conducting <strong>{{ $json.bookingType }}</strong> consultations. Please book your appointment using the link below:</p>\\n<p><a href=\\\"{{ $json.bookingLink }}\\\">{{ $json.bookingLink }}</a></p>\\n\\n<p>We look forward to speaking with you soon and helping you with your case.</p>\\n\\n<p>Best regards,<br>\\n<strong>Richards & Law</strong></p>",
        "options": {
          "appendAtta": false
        }
      },
      "id": "send-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1250, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract PDF (Anthropic API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF (Anthropic API)": {
      "main": [
        [
          {
            "node": "Process Data & Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data & Logic": {
      "main": [
        [
          {
            "node": "Update Clio Matter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Clio Matter": {
      "main": [
        [
          {
            "node": "Create SOL Calendar Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create SOL Calendar Entry": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}